* {
    -fx-highlight-fill: rgba(0, 110, 220, 0.8);         /* Цвет фона выделенного текста */
    -fx-highlight-text-fill: rgba(255, 255, 255, 0.8);     /* Цвет текста при выделении */
}

.window {
    -fx-background-color: rgba(0, 0, 0, 0.9);
}

/* Стиль для текстового поля */
.text-field {
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-border-color: rgba(255, 255, 255, 0.8);;
    -fx-border-width: 2;
    -fx-background-radius: 12;
    -fx-border-radius: 10;
    -fx-text-fill: white;
}

.button-check-for-updates,
.button-cancel,
.button-confirm {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-border-color: rgba(255, 255, 255, 0.8);;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6 12;
}

.button-check-for-updates:hover,
.button-confirm:hover {
    -fx-background-color: rgba(53, 53, 53, 0.5);
}

.button-cancel {
    -fx-background-color: rgba(227, 0, 0, 0.8);
}

.button-cancel:hover {
    -fx-background-color: rgba(181, 0, 0, 0.8);
}

/* ========== SPINNER ========== */
.spinner {
    -fx-text-fill: white;
    -fx-border-width: 2px;
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-border-color: rgba(255, 255, 255, 0.8);

    -fx-background-radius: 11;
    -fx-border-radius: 10;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-font-size: 14;
}

.spinner .text-field {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 4 8 4 8;
    -fx-alignment: CENTER;
}

/* Кнопки вверх/вниз */
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-background-radius: 12;
    -fx-padding: 8;
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: white;
    -fx-padding: 4;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 0;
}
/* ============================= */