# Maven and IDE output
target/
out/
*.iml
.idea/

libs/
runtime/
*VERSIONS/
dependency-reduced-pom.xml
build/
build-output/
release-output/
misc/
CourseManagerFX_v*.zip
CourseManagerFX_v*.zip.sig

PrivateKeys/
*release-private-key*.pk8
release-private-key.pk8

*.log
Thumbs.db
.DS_Store
*.patch

# Local helper files
/collector.py
/coursemanagerfx.txt
