.window {
    -fx-background-color: rgba(0, 0, 0, 0.9);
}

.title-bar {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.button-minimize,
.button-close {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: transparent;
    -fx-background-image: url("/com/coursemanagerfx/ui/icons/w_close_256x256.png");
    -fx-background-size: 16px 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5;
    -fx-background-radius: 0;

    -fx-border-color: transparent;

    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button-minimize {
    -fx-background-image: url("/com/coursemanagerfx/ui/icons/w_minimize_256x256.png");
    -fx-background-size: 12px 12px;
}

.button-minimize:hover {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.button-close:hover {
    -fx-background-color: rgba(227, 0, 0, 0.8);
}

.label-name {
    -fx-text-fill: #dddddd;
}

/* Стиль для текстового поля */
.text-field {
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-border-color: rgba(255, 255, 255, 0.8);;
    -fx-border-width: 2;
    -fx-background-radius: 12;
    -fx-border-radius: 10;
    -fx-text-fill: white;
}

.button-cancel,
.button-default {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-border-color: rgba(255, 255, 255, 0.8);;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 6 12;
}

.button-main {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-border-color: rgba(255, 255, 255, 0.8);
    -fx-border-width: 2;
    -fx-background-radius: 11;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 16 32;

    transition-property: -fx-border-radius, -fx-background-radius, -fx-background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.button-main:hover {
    -fx-background-color: rgba(53, 53, 53, 0.5);
    -fx-background-radius: 16;
    -fx-border-radius: 15;
}

.button-default:hover {
    -fx-background-color: rgba(53, 53, 53, 0.5);
}

.button-cancel {
    -fx-background-color: rgba(227, 0, 0, 0.8);
}

.button-cancel:hover {
    -fx-background-color: rgba(181, 0, 0, 0.8);
}