.button:focused,
.button:selected,
.button:hover,
.button {
    -fx-background-insets: 0;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-text-fill: #dddddd;
    -fx-font-size: 17px;
    -fx-border-color: transparent;

    -fx-alignment: CENTER_LEFT;
    /*-fx-text-alignment: LEFT;*/

    transition-property: -fx-background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.label {
    -fx-font-size: 15px;
    -fx-text-fill: #dddddd;
}

/* ===== SEARCH STYLE ===== */
.search-background {
    -fx-background-color: rgba(223, 134, 23, 0.5);
}
/* ======================== */

/* ===== SELECTED ===== */
.selected-student-panel:focused,
.selected-student-panel:selected,
.selected-student-panel:hover,
.selected-student-panel {
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-border-color: rgba(255,255,255,0.6);
    -fx-border-width: 2;
}
.selected-student-panel:hover {
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-border-color: rgba(255,255,255,0.5);
    -fx-border-width: 2;
}
/* ==================== */

/* ===== MENU BUTTON ===== */
.menu-button {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-background-image: url("../icons/w_more_v1_256x256.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 24px 24px;
    -fx-border-color: transparent;
}

.menu-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.menu-button .arrow,
.menu-button .arrow-button {
    -fx-background-color: transparent;
    -fx-background-image: none;
}

.context-menu {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: rgba(0, 0, 0, 0.9);
    -fx-border-color: rgba(255, 255, 255, 0.6);
    -fx-border-width: 2;
    -fx-padding: 5;
}

.context-menu .menu-item {
    -fx-background-color: transparent;
}

.context-menu .menu-item:hover {
    -fx-background-color: rgba(151, 151, 151, 0.9);
    -fx-background-radius: 5;
}
/* ======================= */