/* ——— GENERAL ——— */
.table-view {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 10;
    -fx-border-color: rgba(255, 255, 255, 0.6);
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

/* ——— ЗАГОЛОВКИ КОЛОНОК ——— */
.table-view .column-header,
.table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-text-fill: #dddddd;
    -fx-font-size: 14;
}

.table-view .column-header {
    -fx-border-color: transparent rgba(255, 255, 255, 0.3) transparent transparent;
    -fx-border-width: 0 1 0 0;
}

/* ——— ХЕДЕРЫ ——— */
.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: rgba(255, 255, 255, 0.6);
}

/* ——— ЯЧЕЙКИ ——— */
.table-cell {
    -fx-alignment: center;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-border-color: transparent rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) transparent; /* белый грид */
    -fx-border-width: 0 1 1 0;
}

.table-row-cell:odd  { -fx-background-color: rgba(255,255,255,0.05); }
.table-row-cell:even { -fx-background-color: rgba(255,255,255,0.07); }

/* ——— ТЕКСТ "No content in table" В ТАБЛИЦЕ ——— */
.table-view .placeholder .label {
    -fx-text-fill: #dddddd;
    -fx-font-size: 24px;
}

.edit-button {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-background-image: url("../icons/w_edit_256x256.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 16px 16px;
    -fx-padding: 0;
}

.edit-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

/* ——— ВЫДЕЛЕННАЯ СТРОКА ——— */
/*.table-row-cell:selected {
    -fx-background-color: rgba(0, 128, 255, 0.3); !* голубой полупрозрачный фон *!
}*/

/*
.table-row-cell:focused:selected {
    -fx-background-color: rgba(0, 128, 255, 0.5); !* чуть ярче при фокусе *!
}*/
