/* ==================================================== */
/* This CSS File is ONLY For SELECTING COLORS via IDEA, */
/*            It Is Not Used In The Code                */
/*                     Nazuha26                         */
/* ==================================================== */

.color-1 { color: rgba(223, 12, 12, 0.15); }

.color-2 { color: rgba(223, 107, 12, 0.15); }

.color-3 { color: rgba(223, 188, 12, 0.15); }

.color-4 { color: rgba(163, 223, 12, 0.15); }

.color-5 { color: rgba(96, 223, 12, 0.15); }

.color-6 { color: rgba(19, 223, 12, 0.15); }

.color-7 { color: rgba(12, 223, 86, 0.15); }

.color-8 { color: rgba(12, 223, 198, 0.15); }

.color-9 { color: rgba(12, 167, 223, 0.15); }

.color-10 { color: rgba(12, 96, 223, 0.15); }

.color-11 { color: rgba(19, 12, 223, 0.15); }

.color-12 { color: rgba(96, 12, 223, 0.15); }

.color-13 { color: rgba(209, 12, 223, 0.15); }

.color-14 { color: rgba(223, 12, 139, 0.15); }

.color-15 { color: rgba(223, 12, 44, 0.15); }